@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background: #34D399;
    height: 80px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a {
    color: white;
    font: size 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #10B981;
    transition: 0.5s;
}

.checkbtn {
    float: right;
    line-height: 80px;
    padding: 2px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}